{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        }
      }
    ]
  ],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ],
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".jsx", ".es", ".es6", ".mjs", ".ts", ".tsx"],
    }]
  ]
}
